.projects-main {

	.projects-btns {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 2rem 0;
		gap: 1rem;

		button {
			padding: 1rem 1.5rem;
			transition: all 0.3s ease;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			font-size: 1rem;
			font-weight: 700;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
		}
	}

	.projects-display {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px 30px;
		padding: 2rem 5rem;
		div {
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			position: relative;
			transition: all 0.3s ease;
			overflow: hidden;
			img {
				width: 100%;
				border-radius: 10px;
				object-fit: cover;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
			}
			.layer {
				background-color: rgba(41, 171, 226, 0.9);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				color: #fff;
				transition: all 0.3s ease;
				opacity: 0;
				padding: 2rem 2rem;
				display: none;
				h5 {
					font-size: 1.5rem;
					padding-bottom: 0.5rem;
				}
			}

			.shape {
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
				background-color: #f7931e;
				position: absolute;
				bottom: 0;
				height: 40%;
				width: 35%;
				z-index: 20;
				transition: all 0.3s ease;
				opacity: 0;
				display: none;
			}

			.icon {
				background-color: #fff;
				overflow: hidden;
				object-fit: cover;
				border: 4px solid #f7931e;
				position: absolute;
				border-radius: 50%;
				z-index: 30;
				cursor: pointer;
				padding: 1rem;
				bottom: 21px;
				left: 29px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				transition: all 0.3s ease;
				opacity: 0;
				display: none;
				img {
					width: 100%;
					height: 100%;
					transition: transform 0.3s ease;
				}
				&:hover img {
					transform: rotate(80deg);
					-webkit-transform: rotate(80deg);
					-moz-transform: rotate(80deg);
					-ms-transform: rotate(80deg);
					-o-transform: rotate(80deg);
				}
			}

			&:hover .layer,
			&:hover .icon,
			&:hover .shape {
				display: block;
				opacity: 1;
			}
		}
	}
}
