.card-main{
  background-color: #fff;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  .card-img{
    position: relative;
    width: fit-content;
    span{
      position: absolute;
      width: 50px;
        height: 50px;
        line-height: 46px;
        background: #8CC63F;
        top: calc(100% - 25px);
        left: 50%;
        border: 2px solid #fff;
        transform: translateX(-50%);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: #fff;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
  }

  h5{
    color: #1f2a59;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 3rem 0;
  }

  p{
    color: #555555;
  }

  &:hover{
    transform: translateY(-10px);
  }
}